@{
    ViewData["Title"] = "Home Page";
}

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="./">Home</a></li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                        <h1 class="display-5 text-primary">Max Alonso Mena Arguedas</h1>
                        <p>Software Developer | Project Manager | Data Analyst | Business Analyst</p>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-header text-info">Resumen profesional:</h2>
                    <p class="card-text">Profesional en Administración y transformación con más de 2 años de trayectoria
                        en empresas nacionales e internacionales
                        y Lic. Dirección Empresarial. Experiencia en Administración de proyectos, Análisis de sistemas,
                        Mejora de procesos y
                        Banca. Fuerte destrezas en analisis de datos, planeamiento estratégico y Transformación Digital.
                        Conocimientos en
                        Python, Web, SQL, Excel, Scrum y Lean Six Sigma. Orientado a resultados, analista, proactivo y
                        motivador</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-header text-info">Experiencia laboral:</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5
                                class="card-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                <span>HEWLETT PACKARD ENTERPRISE - HPE</span>
                                <span class="text-end">octubre 2018 – noviembre 2023</span>
                            </h5>

                        </li>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>SharePoint and Web administrator</span><span class="text-end">agosto 2022 -
                                        noviembre
                                        2023</span></b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseSystemsEnablement"
                                    aria-expanded="false" aria-controls="collapseSystemsEnablement">Ejecutar y
                                    administrar la mejora de la plataforma utilizada para la comunicación y
                                    consulta de los
                                    procedimientos de operación estándar. Encargado de la actualización de la plataforma
                                    y
                                    comunicación de los cambios de sus páginas, bibliotecas y flujos de trabajo.</p>
                                <ul class="collapse " id="collapseSystemsEnablement">
                                    <li>Negocié con el proveedor un suministro extra para cumplir con las
                                        ordenes más grandes. Esto tuvo un impacto de cientos de millones.</li>
                                    <li>Mejoré la fidelidad de la información sobre los inventarios reales a recibir por
                                        parte del proveedor en un 90%.</li>
                                    <li>Analicé y mejoré el procedimiento que se encontraba establecido para la creación
                                        del reporte de inventario semanal en un 100%.</li>
                                    <li>Administré la creación del reporte de seguimiento semanal de los niveles de
                                        inventario cumpliendo con el 100% de las entregas.</li>

                                </ul>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Planeador de suplido global</span><span class="text-end">septiembre 2020 –
                                        agosto 2022</span></b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseGlobalSupply"
                                    aria-expanded="false" aria-controls="collapseGlobalSupply">
                                    Planificar el suministro global de productos de alto valor para cumplir con las
                                    órdenes de compra regionales. Coordinando entre regiones el traslado de partes y
                                    ordenes al proveedor.</p>
                                <ul class="collapse " id="collapseGlobalSupply">
                                    <li>Negocié con el proveedor un suministro extra para cumplir con las ordenes más
                                        grandes. Esto tuvo un impacto de cientos de millones.</li>
                                    <li>Mejoré la fidelidad de la información sobre los inventarios reales a recibir por
                                        parte del proveedor en un 90%.</li>
                                    <li>Analicé y mejoré el procedimiento que se encontraba establecido para la creación
                                        del reporte de inventario semanal en un 100%.</li>
                                    <li>Administré la creación del reporte de seguimiento semanal de los niveles de
                                        inventario cumpliendo con el 100% de las entregas.</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Introducción de nuevos productos</span><span class="text-end">octubre 2018 –
                                        septiembre 2020</span></b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseNewProductIntro"
                                    aria-expanded="false" aria-controls="collapseNewProductIntro">
                                    Verificar que las plantas cumplieran con los requisitos para la elaboración de
                                    nuevos productos. Verificar las configuraciones de los sistemas y la existencia del
                                    inventario para ejecutar, revisar y comunicar el estado de las pruebas.</p>
                                <ul class="collapse " id="collapseNewProductIntro">
                                    <li>Disminuí el tiempo requerido para la carga de la configuración de las partes
                                        almacenables en un 50%.</li>
                                    <li>Demostré control sobre los proyectos a cargo, por la oportuna organización de
                                        los avances y áreas de riesgo.</li>
                                    <li>Inspeccioné en ocasiones pedidos físicamente para actualizar reportes, además de
                                        una gran cantidad de pruebas remotas, para avanzar con la migración.</li>

                                </ul>
                            </li>
                        </ul>
                        <li class="list-group-item">
                            <h5
                                class="card-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                <span>GRUPO MUTUAL – GM</span>
                                <span class="text-end">julio 2015 – octubre 2018</span>
                            </h5>
                        </li>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Analista de sistemas</span>
                                    <span class="text-end">agosto 2022 - noviembre 2023</span>
                                </b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseAnalista" aria-expanded="false"
                                    aria-controls="collapseAnalista">Analizar los procesos que se ejecutaban durante el
                                    cierre para que fueran esbeltos, y
                                    analizar informacion que sumara valor al negocio. Por medio de la propuesta y
                                    ejecucion de proyectos y el analisis de la informacion extraida de la base de datos.
                                </p>
                                <ul class="collapse " id="collapseAnalista">
                                    <li>Implementé una base de conocimientos para reducir el tiempo de investigación de
                                        errores de manera logarítmica.</li>
                                    <li>Reduje la necesidad de cambios que el proyecto iba a necesitar de ser entregado
                                        de la manera que los requerimientos se habían planteado, ahorrando un 80% del
                                        presupuesto.</li>
                                    <li>Investigué la afectación que el abuso del hueco legal, generaba en el costo de
                                        los créditos hipotecarios y presenté los impactantes resultados. </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Encargado de eventos publicitarios</span>
                                    <span class="text-end">octubre 2013 – Julio 2015</span>
                                </b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseEventos" aria-expanded="false"
                                    aria-controls="collapseEventos">
                                    Organizar los eventos publicitarios a nivel nacional, con en el publico meta, el
                                    alcance y la imagen de la empresa y sus productos siempre como objetivo. Por medio
                                    de diferentes estrategias de mercadeo y administrando los eventos como proyectos.
                                </p>
                                <ul class="collapse " id="collapseEventos">
                                    <li>Instituí la documentación de eventos por medio de un formulario electrónico,
                                        mejorando el proceso para todas las partes involucradas.</li>
                                    <li>Transformé la bodega del departamento de un botadero a un lugar ordenado, con
                                        lógica donde era posible extraer materiales.</li>
                                    <li>Organicé el seguimiento de los eventos de mercadeo utilizando herramientas
                                        administración de proyectos, mejorando la administración un 100%.</li>

                                </ul>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Analista de cartera</span>
                                    <span class="text-end">febrero 2012 – octubre 2013</span>
                                </b>
                                <p data-bs-toggle="collapse" data-bs-target="#collapseCartera" aria-expanded="false"
                                    aria-controls="collapseCartera">
                                    Análisis de la capacidad de pago de los clientes de crédito con operaciones de riesgo. Creando escenarios de estrés y notificando la calificación a la entidad reguladora.
                                </p>
                                <ul class="collapse " id="collapseCartera">
                                    <li>Mejoré el método de revisión que se estaba utilizando para los envíos a la entidad reguladora, para reducir en un 66% el tiempo de ejecución.</li>
                                    <li>Simplifiqué el proceso de extracción de información de las bases de datos reduciendo la duración hasta un 87%.</li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <b
                                    class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                                    <span>Analista financiero</span>
                                    <span class="text-end">Julio 2010 – febrero 2012</span>
                                </b>
                                <p>
                                    Asesorar financieramente a los clientes de la entidad en los productos que generaban los mejores rendimientos y beneficios.
                                </p>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-header text-info">Formación Académica:</h2>
                    <p class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                        <span><b>Lic. Dirección de Empresas.</b></span>
                        <span class="text-end">Ciencias y el Arte – UCA.    2012</span>
                    </p>
                    <p class="rd-subtitle mb-2 text-body-secondary d-flex justify-content-between align-items-center">
                        <span><b>Bach. Ingeniero Informático.</b></span>
                        <span class="text-end">Hispanoamericana – UH.   2020</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>